SECRET_JWT_KEY=BEiIEcGdRwTUPdCAZOMsDm9A1QAXqwcQDgEBh80/OWQ=
FRONT_URL=https://padel-front-desarrollo.up.railway.app/
ENVAIROMENT=local
SAMESITE=lax
PORT=1420

MACRO_SECRET = macro_secret_test
MACRO_COMMERCE_ID = macro_commerce_id_test
MACRO_FRASE= macro_frase_test
# * DB LOCAL
DB_HOST=localhost
DB_USER=padeldb
DB_PASS=Padel2024
DB_PORT=3306
DB_SCHEMA=padel